body {
  font: 14px "Arial", sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.navbar {
  background: #fff;
  border: 1px solid #999;
  height: 34px
}

.navbar-option {
  background: #fff;
  border: 0px solid #999;
  float: left;
/*   font-size: 24px; */
  font-weight: none;
  line-height: 34px;
  height: 34px;
  padding: 0px 15px;
/*   margin-top: -1px; */
  text-align: center;
/*   width: 34px; */
}

#bold-item {
  font-weight: bold;
}

#navbar-right {
  text-align: right;
  float: right;
}

.selectionBox {
  text-align: center;
  float: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em 2em;
  border: 1px solid black;
}

.circle {
  height:100px;
  width: 100px;
  border-radius: 50%;
  background-color: #3d9970;
}

.testimony {
  display: flex;
  align-items: center;
  padding: 1em;
}
