

#bold-item {
  font-weight: bold;
}

.navbar-right {
  text-align: right;
  float: right;
}

.circle {
  height: 7em;
  width: 7em;
  border-radius: 50%;
  margin-top: 1em;
  background-color: none;
}

.avatar {
  height: 7em;
  width: 7em;
  border-radius: 50%;
}

.testimony {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}

.form-group {
  width: 15em;
}
