body {
  font: 14px "Arial", sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.navbar {
  background: #fff;
  border: 1px solid #999;
  height: 34px
}

.navbar-option {
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-weight: none;
  line-height: 34px;
  height: 34px;
  padding: 0px 15px;
  text-align: center;
}

#bold-item {
  font-weight: bold;
}

.navbar-right {
  text-align: right;
  float: right;
}


.circle {
  height: 7em;
  width: 7em;
  border-radius: 50%;
  margin-top: 1em;
  background-color: #3d9970;
}

.avatar {
  height: 7em;
  width: 7em;
  border-radius: 50%;
}

.testimony {
  display: flex;
  align-items: center;
  padding: 1em;
}

.col {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.col2 {
  align-content: center;
  padding-left: 1em;
}

.form-group {
  width: auto;
}